html {
  height: 100%;
}

body {
  height: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#svg1 {
  background-color: white;
  position: relative;
  bottom: 6em;
  padding-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  padding-bottom: 5em;
}

#toolTip {
  padding: 1em;
  border: 0.2em solid white;
  text-align: center;
}

.rects {
  margin-bottom: 100em;
}

#x-axisLabel {
  position: relative;
  bottom: 7.5em; 
  font-size: 18px;
}

#legend {
  position: relative;
  bottom: 7em; 
}

#footer {
  position: relative;
  text-align: center;
  bottom: 6em;
}

